<header class="navbar" [ngClass]="{'navbar-fixed': isFixedNavbar}">
  <div class="container" fxLayout="row wrap" fxLayoutAlign="start center">
    <div
      class="navbar-mobile-top"
      fxLayout="row"
      fxLayoutWrap="wrap"
      fxLayoutAlign="start center"
    >
      <div class="navbar-logo">
        <a routerLink="/"><img src="../../assets/logo.png"></a>
      </div>
      <button
        mat-icon-button
        color="accent"
        class="navbar-toggle"
        (click)="toggleNavbar()"
      >
        <mat-icon>{{!navbarOpened ? 'menu': 'close'}}</mat-icon>
      </button>
    </div>
    <div fxFlex class="top-navbar">
      <span fxFlex></span>
      <a mat-button class="navbartop-btn"><strong>About</strong></a>
      <a mat-button class="navbartop-btn"><strong>Visit Museum</strong></a>
      <a mat-button class="navbartop-btn"><strong>Gallery</strong></a>
      <a mat-button class="navbartop-btn"><strong>Contact Us</strong></a>
    </div>
  </div>
</header>


<mat-card class="card">
  <div class="container">
        <div>
          <mat-card-title>Welcome To Musea</mat-card-title>
          <mat-card-content>The more art you see, the more you'll learn<br> to define your own taste.</mat-card-content>
          <a routerLink="/form" class="btn-get-started">Book Your Tickets</a>
        </div>
        <img src="../../assets/image1.jpg" alt="" >
  </div>
</mat-card>
